.home-screen-logo {
  -webkit-user-drag: none;
  cursor: pointer;
  width: 5rem;
  margin-top: 0.5rem;
}

.tab-bar-content-left {
  // margin-left: 1rem;
  margin-right: 22.5rem;
}

.tabs-searchbar {
  width: 500px;
  --border-radius: 50px;
  text-align: left;
  margin-top: 5px;
  margin-left: 1rem;
}

.tab-icons {
  font-size: 1.6rem;
}

ion-tab-button {
  max-width: inherit;
}
