<ion-header>
  <ion-toolbar>
    <ion-title>{{ category | titlecase}}</ion-title>
    <ion-buttons slot="start">
        <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides pager="true" [options]="slideOpts">
    <ion-slide *ngFor="let product of products">
      <ion-card >
        <img src="{{ product.images[product.images.length - 1] }}" alt="">
        <ion-card-header>
          <ion-card-title> {{ product.title | titlecase }}</ion-card-title>
        </ion-card-header>
      </ion-card>
    </ion-slide>
  </ion-slides>
</ion-content>
